<!-- ./views/index.handlebars -->

{{!-- <a href="/todos/new">Creat</a> --}}
<ul class="list-group col-md-6 m-auto">
  <div class="ml-auto mt-2 mr-auto">
    <h4>總支出：{{{totalAmount}}}</h4>
  </div>

  {{#each records}}
  <li class="list-group-item">
    <div class="row">
      <div class="row col-md-9">
        <div class="col-md-1">
          <i class="fas fa{{{this.icons}}}"></i>
        </div>

        <div class="col-md-9" style="display: inline">
          <h5>
            {{{this.name}}}
          </h5>
          <i>
            {{{this.date}}}
          </i>
        </div>

        <div class="col-md-2" style="vertical-align: middle;">
          {{{this.amount}}}
        </div>
      </div>

      <div class="col-md-3">
        <div>
          <a href="/record/{{{this.id}}}/edit" class="btn btn-success">edit</a>
          <form action="/record/{{{this.id}}}/delete?_method=DELETE" method="POST" style="display:inline;">
            <button type="submit" class="btn btn-danger">delete</button>
          </form>
        </div>
      </div>
    </div>
  </li>
  {{/each}}
  <a href="/record/new" class="btn btn-primary mt-3 mr-auto ml-auto">新增支出</a>

</ul>